/*Ahadesign-CSS*/
#mainarea{width:100%;}
#contentarea{width:98.5%;float:left;margin-right:1px;padding:0 7px;}
h\tml:f\irst-child>body #contentarea{width:99%;padding:0 5px;}
#rightmodules{display:none;}
#leftmodules{display:none;}