/*Ahadesign-CSS*/
#mainarea{width:100%;}
#contentarea{width:80%;padding:0 5px;}
h\tml:f\irst-child>body #contentarea{width:73%;padding:0 5px;}
#rightmodules{display:none;}
#leftmodules{width:19%;}